<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="bg-light" >
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand"  th:href="${mainurl}+ '/client/all'"  th:align="right">Clients</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="${mainurl} +'/couriers/all'">Couriers<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="${mainurl} +'/warehouse/all'">WareHouse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="${mainurl} +'/client'">Home</a>
            </li>
        </ul>
    </div>
</nav>
<hr>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Add new Product !</h2>
            <p class="lead">Enter the product's descriptions.</p>
        </div>
        <h1>The following types of products are available for adding:</h1>
        <div class="container">
            <ol class="breadcrumb-item">
                <li class="breadcrumb">Food/drinks</a></li>
                <li class="breadcrumb">Home/Garden  </a></li>
                <li class="breadcrumb">Electronics  </li>
                <li class="breadcrumb">Clothes</li>
            </ol>
        </div>

        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Personal data</h4>
                <form  th:action="@{/api/products/addproduct}" th:object="${productDto}" th:method="POST">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="productType" class="form-label">Product type</label>
                            <input type="text" class="form-control" id="productType" th:field="*{productType}">
                        </div>

                        <div class="col-sm-6">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" th:field="*{description}">
                        </div>
                        <div class="col-sm-6">
                            <label for="weight" class="form-label">Weight</label>
                            <input type="text" class="form-control" id="weight" th:field="*{weight}">
                        </div>
                    </div>
                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
                </form>
            </div>
        </div>
    </main>
</div>

</body>
</html>