<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>OnlineMagazine Service</title>
    <link href="https://getbootstrap.com/docs/4.0/examples/jumbotron/jumbotron.css" rel="stylesheet">
    <style>
        body{
            background-image: url('static/background.jpg');
        }
    </style>

</head>

<body style="background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1612473246_188-p-fon-dlya-prezentatsii-powerpoint-serii-fon-209.jpg')">

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://localhost:8081/api/client/all" th:align="right">Clients</a>


    <div class="collapse navbar-collapse" id="navbarsExampleDefault" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8081/api/couriers/all">Couriers<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">WareHouse</a>
            </li>
        </ul>
    </div>
</nav>

<main role="main">


    <div class="jumbotron" >
        <div class="container">
            <h1 class="display-3" th:align="center" >Welcome to the management console of your store !</h1>
            <p>Welcome to the Online Magazine service. Here you can find and order more than 1000 products. And we will deliver all these goods to you.</p>
            <p><a class="btn btn-primary btn-lg" href="http://localhost:8081/api/products/all" role="button">Products </a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Add Client</h2>
                <p>You can add a new client. To do this, click on the link and enter the credentials. </p>
                <p><a class="btn btn-primary btn-lg" href="http://localhost:8081/api/client/addclient" role="button">Add</a></p>
            </div>
            <div class="col-md-4">
                <h2>Add Courier</h2>
                <p>Add a courier in one click... Follow the link above and enter the personal data of the new delivery service employee. </p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Add</a></p>
            </div>
            <div class="col-md-4">
                <h2>Add WareHouse</h2>
                <p>Every business needs to expand. Our service supports the addition of new warehouses and storage facilities..</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Add</a></p>
            </div>
        </div>

        <hr>
    </div>

</main>

<footer class="container" th:bgcolor="grey">
    <p>&copy; OOO "MagazinCompany Holding"</p>
</footer>
