<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Managing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1612473246_188-p-fon-dlya-prezentatsii-powerpoint-serii-fon-209.jpg')">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand"  th:href="${mainurl}+ '/client/all'"  th:align="right">Clients</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="${mainurl} +'/couriers/all'">Couriers<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="${mainurl} +'/warehouse/all'">WareHouse</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="${mainurl} +'/client'">Home</a>
            </li>
        </ul>
    </div>
</nav>
<hr>
<div>
    <h1 class="display-2" th:align="left" >Products</h1>
</div>
<div class="container" >
    <div class="col-md-4">
        <h2>Add Products</h2>
        <p>You can add a new products. To do this, click on the link and enter the product description. </p>
        <p><a class="btn btn-primary btn-lg" th:href="${mainurl} +'/products/addproduct'" role="button">Add</a></p>
    </div>
</div>
<div class="container">
    <table id="clientTable" class="table table-light" th:align="center" >
        <thead class=" thead-dark">
        <tr>
            <th>Id</th>
            <th>Product Type</th>
            <th>Description</th>
            <th>Weight</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products} " >
            <td th:text="${product.getId()}" th:scope="row" ></td>
            <td th:text="${product.getProduct_type()}"></td>
            <td th:text="${product.getDescription()}"></td>
            <td th:text="${product.getWeight()}"></td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>